html {
    min-height: 100%;
}

.title {
    text-align: center;
    font-size: 50px;
}

h1 {
    text-align: center;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
  }

button {
    padding: 10px 20px;
    border-radius: 5px;
  }

button.active {
    background-color: rgb(108, 104, 104);
    color: white;
}

button,
input[type='color'] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.box {
    width: 10px;
    height: 10px;
    background-color: white;
    user-select: none;
}
